
{% extends 'base_projects_eightbit.html' %}
{% load static %}

{% block content %}
<h1>The Clock</h1>

<img src="{% static 'imgs/8bitclock.gif' %}" width="500" height="300" alt="Loading" title="Clock_gif" />

<br>
<p>I have a friend that wants advice about her relationship no wait, this is the wrong page, hang on I'll get the other script..</p>
<br>
<p>So this is the clock. Wheeeeeeee look at it flash, how fun.</p>
<p>It took me all of my free time to figure out how to make the gif and I have to go now, so this is about as good as you're gonna get from me today. I'll fix this page up later. Bye now. </p>
{% endblock content %}
