
{% extends 'base_projects_eightbit.html' %}
{% load static %}

{% block content %}
<h1>The Clock</h1>

<img src="{% static 'imgs/8bitclock.gif' %}" width="500" height="300" alt="Loading" title="Clock_gif" />

<br>
<p>Aight, so I know this isn't what you were thinking when I said I built a clock. There's no numbers, doesn't tell AM or PM, it honestly just looks like a bunch of wires and a flashing light. Which is exactly what it is. But I'm going to try to convince you that this clock is actually pretty cool. </p>

<p>The clock is a fundamental part of every computer. The processor in your computer that you're using right now has (a much smaller version of) a clock like this. The clock synchronizes everything else in your computer, and in modern computers it usually 'ticks' sevral <i>billion</i> times a second. If you look at the specs of your computer processor, it will say something like '4.3 GHz' (gigahertz), which means that your processor performs 4,300,000,000 calculations per second. Pretty crazy, right?</p>

<p>Functionally, every time the clock ticks from off to on, the computer processes the current instruction and updates all the registers preparing for the next instruction. That sentence will make more sense when we discuss the ALU and registers in the next section.</p>  

<p>So, did I convince you that the clock is cool? No? That's okay, this page is retrospectively not as enthralling as I had envisioned.</p>
{% endblock content %}
