
{% extends 'base_projects_eightbit.html' %}

{% block content %}
<h1>8-bit Computer Home Page</h1>
<h4>(aka 'i am building a computer, but the dumb way(?)')</h4>
<p>So in 2018-19, I built a gaming computer out of parts I bought off of the internet. I did it not because I play a lot of games, but because I wanted to learn more about how computers work. While I learned a lot about computers, it was more like putting together a lego set than a true computing challenge. In fact, the most difficult part of the whole process was figuring out how to properly seat the ram. (It's not that hard, I was just dumb.)</p>

<p>So in an effort to find a more challenging and educational computer building process, I bought a circuitry kit from a guy named Ben Eater. Ben designed and created an eight bit computer, and then made a series of videos on YouTube showing how you could make your own computer.</p>

<p>So that's what this is about. The computer has four main parts: a clock, some registers, ram, and an output. I'll be putting up some information of each of the parts that I've completed in the links on the left.</p> 

<p>As I am writing this, I am halfway done with the RAM, just so you know what to expect with how complete this section of the website is.</p>

<p>OH YEAH! You can find the kits and the videos for this computer <a href=https://eater.net/8bit>here</a>. Check it out, there's a bunch of other cool stuff on his site.</p>
{% endblock content %}
