<!doctype html>
{% extends 'base_projects_cypher.html' %}

{% block scripts %}

<script>
  function Shift() {
    var userIn = document.getElementById("userIn").value;
    var shift = parseInt(document.getElementById("shift").value);
    var shifted = "";

    for (var i=0; i < userIn.length; i++) 
    {
      var temp = parseInt(userIn[i].charCodeAt());
     
      // uppercase letter, between 65 and 90 
      if(65 <= temp && temp <= 90) 
      {
        temp = temp + shift;  
        if(temp > 90) 
        {
          temp = temp - 90 + 64;
        }
      }
      
      // lowercase letter, between 97 and 122 
      else if(97 <= temp && temp <= 122) 
      {
        temp = temp + shift;  
        if(temp > 122) 
        {
          temp = temp - 122 + 96;
        }
      }
      
      else
      {
        window.alert("upper and lower case letters only, please");
        break;
      } 
      shifted += String.fromCharCode(temp);
    }

    var output = "User input: " + userIn + "<br />Shift by: " + shift + "<br /><br />Encoded message: " + shifted;
    document.getElementById("encrypted").innerHTML = output;
  }
</script>

{% endblock scripts %}

{% block content %}
<h1>This is the page for the caesar cypher</h1>
<br>
A caesar cypher is a way of encrypting a message by shifting the letters by a uniform amount.<br>
<pre> 
For example, if you shift by 2,

    abcde
      
      becomes

    cdefg
</pre>
<br><br>
<div>
  <h3>Try it here:</h3>
    <form type="text">
      <label for="userIn">Text to be encrypted:</label><br>
      <input type="text" id="userIn" name="userIn" value="Hello">
    </form>
    <br><br>
    <form>
      <label for="shift">How much to shift by:</label>
      <select id="shift" name="shift">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
      </select>
    </form>

    <p id="encrypted"></p>
    <button type="button" onclick="Shift()">Encrypt!</button>
</div>
{% endblock content %}
