
<!doctype html>
{% extends 'base.html' %}

{% block content %}
<h1>This is the page for the sha-1 hash</h1>
<br>
A sha hash is insanely complicated when you don't know how it works, which is totally absolutely definitely not where I'm at right now.<br>
<pre>


  I'm supposed to write a hashing algorithm?
    
      I'm 
        
          so

            screwed
</pre>
<br><br>
<div>
  <h3>Try it here:</h3>
    <form type="text">
      <label for="userIn">Text to be encrypted:</label><br>
      <input type="text" id="userIn" name="userIn" value="Hello">
      <button type="button" onclick="Hash()">GO!</button>
    </form>
  <br><br>
<div>
 
{% endblock content %}
