/* static/css/base.css */

html {
	overflow-y: scroll;
}

body {
	background-color: #edebe6;
	color:#000;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

pre, code {
	margin: 0;
}

a {
	color: #513D0E;
}

#header a, #nav a, #menu a {
	text-decoration: none;
}

#nav a:hover {
	background-color: #cac4b6;
}

#menu {
	clear: both;
	color: #556B2F;
	overflow: hidden;
	background-color: #44510e;
	padding: 0.7ex;
}

#menu a {
	padding: 0.5ex 1ex;
	color: #cac4b6;
}

#menu a:hover {
	background-color: #40300b;
}


#header {
	background-color: #cac4b6;
	clear: both;
	color: #6B632F;
	font-size: 1.78em;
	padding: 0.7ex 0.7ex 0.7ex 0.7em;
}


#headerLink {
	color: #513D0E;
	margin-left: 5px;
}

h1 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.4em;
}

h2 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.3em;
}

h3 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.0em;
}

h4 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 0.9em;
}

#headerSubtitle {
	font-size: 0.75em;
	font-style: italic;
	margin-left: 1em;
}

#content {
	clear: both;
	margin: 0;
	padding: 0;
	background color: #edebe6;
	/* overflow: hidden;*/
}

#nav {
	background-color: #edebe6;
	float: left;
	margin: 0 1px 0 0;
	padding: 1em 0;
	border-right: 1px dotted #6B632F;
	width: 200px;
  height: 400px;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav li ul {
	padding-left: 1.8em !important;
}

#nav li a {
	display: inline;
	margin: 0;
	padding: 0;
}

#main {
	margin: 0 0 0 200px;
	max-width: 50em;
	padding: 1.5em;
}

.left {
	float: left;
	margin: 0;
	padding: 0;
}

.right {
	float: right;
	margin:0;
	padding: 0;
}

.hidden {
	display: none;
}


