
{% extends 'base.html' %}


{% block content %}
<h1>Contact Page</h1>
<h4>(aka 'you say stuff to me')</h4>
<p>You can send me an email at "ke vini sapro fessi onal@gm ail.c om"</p>
<p><small>(get rid of the spaces. They protect me from bots gathering my email from my website and spamming me with dumb messages.)</p>
<p><small>(is that a real issue? Hell if I know.)</p> 
<p><small>(if it is real, do the spaces work? I sure hope so.)</p>
</small></small></small>
<p>Maybe someday I'll get some sort of messaging/commenting platform done, but it's low on the list. Most likely nobody is coming to this site anyways, so... eh.</p>
{% endblock content %}
