<!-- templates/cypher.html -->
{% extends 'base.html' %}

{% block cypherList %}
<ul>
  <ul>
  <li><a href="{% url 'construction' %}">  caesar/</a></li>
  <li><a href="{% url 'construction' %}">  SHA-256/</a></li>  
  <li><a href="{% url 'construction' %}">  TheOtherOne/</a></li>
  </ul>
</ul>
{% endblock cypherList %}

{% block content %}
This is the hompage for the cypher apps. Yippee Hooray!

Click one of the links to the left, assuming the're working. goooooooood luck!
{% endblock content %}
