<!-- templates/photos -->
{% extends 'base_photos.html' %}

{% block content %}
<h1>Photos Home Page</h1>
<h4>(aka 'i see stuff')</h4>
<p>Here's the starting page for the photos. If I can figure out how to, I will turn this into a page where I posts photos that I have taken and will take. Like instagram, but it's just me posting, and you can't comment or anything, and I will be tracking your data instead of the Zuck.
</p>
<br>
<p>Just kidding, I'm not tracking you or your data. That would be immoral, and rude. </p>


{% endblock content %}
